@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans'), local('Vela-Sans-Regular'),
		url('~assets/fonts/VelaSans/VelaSans-Regular.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans ExtraLight'), local('Vela-Sans-ExtraLight'),
		url('~assets/fonts/VelaSans/VelaSans-ExtraLight.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans SemiBold'), local('Vela-Sans-SemiBold'),
		url('~assets/fonts/VelaSans/VelaSans-SemiBold.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-SemiBold.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans Light'), local('Vela-Sans-Light'),
		url('~assets/fonts/VelaSans/VelaSans-Light.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans Bold'), local('Vela-Sans-Bold'),
		url('~assets/fonts/VelaSans/VelaSans-Bold.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Vela Sans';
	src: local('Vela Sans ExtraBold'), local('Vela-Sans-ExtraBold'),
		url('~assets/fonts/VelaSans/VelaSans-ExtraBold.woff') format('woff'),
		url('~assets/fonts/VelaSans/VelaSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
