// colors
$accent: #80CCBF;
$accent-hover: #84f6e3;
$dark-text: #000000;
$light-text: #ffffff;
$dark-bg: #171F2C;
$light-bg: #ffffff;
$grey: #BCBCBC;

// breakpoints
$tab: 1279px;
$mob: 767px;

// fonts
$primary-font-family: "Inter", sans-serif;
$secondary-font-family: "Vela Sans";